body {
	font-family: helvetica;
	background-color: white;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	width: 300px;
}

label {
	padding: 10px;
}

select {
	width: 450px;
	font-size: 14px;
	padding: 5px;
}

.jumbotron {
	border-top: 7px solid #00B3BD;
}

form {
	border-top: 7px solid #00B3BD;
	padding: 10px;
	background-color: #e9ecef;
}

button {
	margin-top: 15px;
}

.trackOption {
	display: none;
}

.trackOption h1 {
}

.trackPercent {
	font-weight: bold;
	color: red;
}
